/*universal selector */
* {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

/*type selector*/
h1 {
	font-size: 50px;
}

/*id selector*/
#learn {
	text-transform: uppercase;
}

/*external styling to p3*/
p + p + p {
	color: yellow;
}

/*class selector*/
.lang {
	background-color: #A5D6A7;
}

/*attribute selector*/
ol[type="1"] > li {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}

/*adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*descendant selector*/
section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

/*general selector*/
ul ~ p {
	text-align: center;
}

/*child selector*/
ul > li {
	letter-spacing: 10px;
}